<div class="hero-unit">
    <h1>About us</h1>

    <p class="pull-right">Who We Are ?</p>
</div>
<div class="row">
    <div class="span3">
        <div class="well">
            <h5></h5>
            <ul>
                <li><a href="#intro">Who Are We?</a></li>
                <li><a href="#join">Join the conversation</a></li>
                <li><a href="#test">Track the latest feature and test them out</a></li>
                <li><a href="#code">Contribute the code</a></li>

            </ul>
        </div>
    </div>
    <div class="span9" style="background: #efefef; border-radius: 3px; box-shadow: 0px 0px 2px #ccc;">
        <div class="tutorial">
            <h2 id="intro">WHO WE ARE</h2>
            <p>This project is mainly designed by François Fouquet and Erwan Daubert.</p>
            <p>The development team is the following: Olivier Barais, Jean-Émile Dartois, Johann Bourcier, Brice Morin, Gr&eacute;gory Nain, Noël Plouzeau, Gerson Sunye, Jean-Marc J&eacute;z&eacute;quel</p>
            <p>The development of Kevoree is currently supported by
				<div class="row">
					<div class="span2">
						<center>
						<a href="http://www.inria.fr/">INRIA Rennes</a>
						</center>
					</div>
					<div class="span2">
						<center>
						<a href="http://www.univ-rennes1.fr">Universit&eacute; de Rennes 1</a>
						</center>
					</div>
					<div class="span2">
						<center>
						<a href="http://www.securityandtrust.lu">Interdisciplinary Center for Security, Reliability and Trust (SnT)</a>
						</center>
					</div>
					<div class="span2">
						<center>
						<a href="http://www.uni.lu">Universit&eacute; du Luxembourg</a>
						</center>
					</div>
				</div>
				<div class="row">
					<div class="span2">
						<center>
						<img src="{urlpattern}img/logo_INRIA.png" width="80%" alt="inria">
						</center>
					</div>
					<div class="span2">
						<center>
						<img src="{urlpattern}img/UR1UEB.jpg" width="80%">
						</center>
					</div>
					<div class="span2">
						<center>
						<img src="{urlpattern}img/SnT_logo.png" width="80%">
						</center>
					</div>
					<div class="span2">
						<center>
						<img src="{urlpattern}img/logo_unilu.png" width="80%">
						</center>
					</div>
				</div>
        </div>
        <div class="tutorial">
            <h2 id="join">JOIN THE CONVERSATION</h2>
            <p> You can find @Kevoree on Twitter, and certain projects have their own dedicated Twitter accounts, too. Subscribe to and comment on our blogs at blog.kevoree.org, where you'll find in-depth technical articles, release announcements and more.
            </p>
        </div>
                <div class="tutorial">
                    <h2 id="issue">REPORT ISSUES</h2>
                    <p>The Kevoree family of projects are built on a foundation of user feedback. If you find a bug, or have a great idea for a feature or improvement, please do report it in our github issue tracker.</p>

                </div>
            <div class="tutorial">
                <h2 id="test">TRACK THE LATEST FEATURES AND TEST THEM OUT</h2>
                <p>    Try out the latest snapshot, milestone, or release candidate versions of the Kevoree projects that you use and let us know how it goes! Kevoree releases tend to be rock solid thanks in large part to an eager community constantly testing early and testing often in real world scenarios. Put a watch on the project source repositories that you care about. Subscribe to Github feeds. Subscribe to Hudson CI build plans. While all Kevoree releases are available in our maven release repository, you'll find all pre releases (including nightly snapshots) in our repository manager. Just search for the artifacts you're interested in.</p>
            </div>
            <div class="tutorial">
                <h2 id="code">CONTRIBUTE CODE</h2>
                <p>     Today you'll find nearly all Kevoree projects hosted at GitHub. We strongly encourage you to fork Kevoree project repositories that you work with, make changes as you see fit and submit pull requests back to the project team. Fix a bug, correct a typo, or take a shot at an improvement or new feature. Address your own issues, or search through our Github tracker to find what interests you. Every project is a little different, and you'll find complete instructions about building and contributing to individual projects in their respective README files on GitHub. Happy hacking!</p>
            </div>
        </div>
     </div>

