<script type="text/javascript">
function showProjects() {
	$('#projects').show();
		$('#papers').hide();
}
function showPapers() {
	$('#projects').hide();
	$('#papers').show();
}

function toggleButtonIcon(button) {
	if(jQuery(button).children('i').hasClass('icon-plus')){
		jQuery(button).children('i').removeClass('icon-plus');
		jQuery(button).children('i').addClass('icon-minus');
	}else{
		jQuery(button).children('i').removeClass('icon-minus');
		jQuery(button).children('i').addClass('icon-plus');
	}
}

</script>


<div class="hero-unit">
    <h1>Projects and Research</h1>

    <p class="pull-right">Projects and Research using Kevoree all over the world !</p>
</div>
<div class="row">
    <div class="span3">
		<div class="well sidebar-nav">
		<ul class="nav nav-list">
		  <li class="nav-header">Projects</li>
		  	<li><a type="button" class="btn-link" onClick="showProjects();">DAUM</a></li>
		  	<li><a type="button" class="btn-link" onClick="showProjects();">S-Cube</a></li>
		  	<li><a type="button" class="btn-link" onClick="showProjects();">ThingML</a></li>
			<li><a type="button" class="btn-link" onClick="showProjects();">IoT Lab</a></li>
			<li><a type="button" class="btn-link" onClick="showProjects();">EnTiMid</a></li>
		  <li class="nav-header">Papers</li>
		  	  <li><a type="button" class="btn-link" onClick="showPapers();">2013</a></li>
		  	  <li><a type="button" class="btn-link" onClick="showPapers();">2012</a></li>
		  	  <li><a type="button" class="btn-link" onClick="showPapers();">2011</a></li>
			  <li><a type="button" class="btn-link" onClick="showPapers();">2010</a></li>
		</ul>
	</div>
</div>
<div class="span9" style="background: #efefef; border-radius: 3px; box-shadow: 0px 0px 2px #ccc;">
	<div class="tutorial">	
		<div class="accordion" id="projects">
			<div class="accordion-group">
			    <div class="accordion-heading">
			      <!--a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_daum" onClick="toggleButtonIcon(this);" --> 
					  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse_daum" onClick="toggleButtonIcon(this);"><i class="icon-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;
			        Dynamic Adaptation Using Model (DAUM) - INRIA/IRISA, France</button>
			      <!--/a-->
			    </div>
			    <div id="collapse_daum" class="accordion-body collapse span8">
			      <div class="accordion-inner">
		  			<p>This project has been created in the case of collaboration with a department of firefighters of Brittany.</p>

		              <p>The goal is to build a real-life, multi-user, real time decision system for crisis management that are able to be adapt according to environmental information.</p>

		              <h3> Required Features</h3>
		              <ul>
		                  <li>computation nodes are Android-based tablets with limited computing resources, used by field personnel;</li>
		                  <li>passive nodes are sensors embedded in personal protective equipment, with very low computing capabilities (e.g. temperature sensors);</li>
		                  <li>wireless networks connect these nodes; the technologies that we use are ad-hoc Wifi mesh networks, Xbee R mesh networks, and GSM cellular networks;</li>
		                  <li>the applications running on the interconnected computation nodes are real-time, multi-user cooperative data editors working peer-to-peer;</li>
		                  <li>the business domain of the application includes life critical procedures that must be performed in real time.</li>
		              </ul>

		              <p>At the application level, each personal tablet maintains a full business model of the situation (position and type of hazard sources and targets, position and tactical missions of
		                  emergency personnel and vehicles, position and status of resources such as water lines, etc.). With a personal tablet each officer can update tactical information, make decisions and
		                  share them with other officers’ tablets, with the main command post and even with tablets of en-route officers. The main components of the application are a navigation system (maps and
		                  GPS), several resource management systems (engine position, assignment, reinforcement, etc), a tactical situation editor (SITAC) and a data bridge connected to the main command center
		                  computer system. Android tablets and computers of the command center can host components powerful enough to actively participate in the distributed computation of Kevoree’s models at
		                  runtime. Sensors in personal protective equipments are passive nodes that can share a Kevoree model view of their current dynamic configuration.</p>

		              <h3>Resource driven versus activity driven adaptation</h3>

		              <p>This system must adapt itself to changes in the available resource set, for instance when a better network link can be established between the tablets, using a field wireless hotspot.
		                  This kind of adaptation will also occur when more and more resources are added because of reinforcements arriving on site.
		                  Another important adaptation situation comes from changing user needs. For instance, an escalation of response implies tactical decisions that include a significant reconfiguration of
		                  the team (e.g. scaling up or scaling down the organization, reassigning responsibilities, etc). To save resources (e.g. memory, processor and network bandwidth), nodes are regrouped
		                  automatically to match the allocation of personnel on the different sectors on the field. For instance, at some point a decision is taken to setup a field hospital 1 km away. Our
		                  system must then anticipate this possible evolution both on the functional side (assist command in reallocating personnel and vehicle, setting up missions for group leaders using
		                  predefined patterns, etc) and on the system side (reallocating node functions, changing link configurations, setting up bridges with “foreign” systems). To anticipate this kind of
		                  reconfiguration, our system must maintain a current configuration (at business level and at platform level) and it must also prepare future configurations, using “what if” scenarios.
		                  In some way, the whole system aims at managing the resources (computation and communication) optimally, and to this aim it makes use of predictive models to anticipate changes,
		                  evaluate new architectures, prepare them and activate them.</p>

		              <h3>Challenges</h3>

		              <p>The DAUM system must manage several problem dimensions.
		              <ul>
		                  <li>
		                      <b>Embedded sensor networks</b>
		                      <p> Many sensors (e.g. body temperature sensors embedded in clothes) cannot fully participate in the distributed models at runtime algorithms, mainly because of hardware
		                          limitations. In this use case the uncoupled reflection model allows for interacting and reconfiguring small devices asynchronously. For example, a limited computational node
		                          can easily host a model representation of its firmware (only a few Kbytes) but does not have the capability to dynamically reconfigure itself. In this case, the intelligent
		                          reflection layer allows larger nodes (i.e. tablet or coordinator computer) to seamlessly reason about these sensors using their internal representation, without requiring a
		                          call to the reflection layer on these limited devices.</p>
		                  </li>
		                  <li>
		                      <b>Pervasive environment</b>
		                      <p>In a pervasive context, the management of communication issues and its associated compensation policies are critical tasks. These tasks are even more critical in a sporadic
		                          context where peers can appear and disappear without a warning. Typically, tablets and even more sensors are disseminated on a field of action without a proper stable network
		                          infrastructure, with propagation problems caused by buildings or landscape. As we rely on dynamic adaptation of the system architecture using models at runtime, we must design
		                          distributed algorithms that preserve consistency of the distributed data and provide adequate consensus to enforce consistent architecture reconfigurations on the fly.</p>
		                  </li>
		              </ul>
			        
			      </div>
			    </div>
			    <div class="accordion-heading">
					  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse_scube" onClick="toggleButtonIcon(this);"><i class="icon-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;
			        S-Cube - INRIA/IRISA, European NoE
			      </button>
			    </div>
				<div id="collapse_scube" class="accordion-body collapse span8">
					<br/>
					S-Cube, the European Network of Excellence in Software Services and Systems, has established an integrated, multidisciplinary, vibrant research community, enabling Europe to lead the software-services revolution and helping shape the software-service based Internet which is the backbone of our future interactive society.
					<br/>
					<br/>
					More information on <a href="http://www.s-cube-network.eu/">http://www.s-cube-network.eu/</a>
					<br/>
				</div>
			    <div class="accordion-heading">
					  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse_thingml" onClick="toggleButtonIcon(this);"><i class="icon-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;
			        ThingML - SINTEF, Oslo, Norway
			     </button>
			    </div>
				<div id="collapse_thingml" class="accordion-body collapse span8">
					<br/>
					ThingML is a modeling language for embedded and distributed systems. It is developped by the Networked Systems and Services department of SINTEF in Oslo, Norway.
					<br/>
					<br/>
					More information on <a href="http://www.thingml.org/">http://www.thingml.org/</a>
					<br/>
				</div>
			    <div class="accordion-heading">
			     	  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse_iotlab" onClick="toggleButtonIcon(this);"><i class="icon-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;
			        Internet of Things Lab - SnT, Luxembourg
			    </button>
			    </div>
				<div id="collapse_iotlab" class="accordion-body collapse span8">
					<h2>Internet of Things</h2>
				</div>
			    <div class="accordion-heading">
			     	  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse_entimid" onClick="toggleButtonIcon(this);"><i class="icon-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;
			        EnTiMid - INRIA, Rennes, Fr
			      </button>
			    </div>
				<div id="collapse_entimid" class="accordion-body collapse span8">
					<h2>EnTiMid</h2>
				</div>
			</div>
		</div>
		<div class="accordion" id="papers" style="display: none;">
			<div class="accordion-group">
				    <div class="accordion-heading">
				      	  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse_papers_2013" onClick="toggleButtonIcon(this);"><i class="icon-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;
				        2013 - Publications
				      </button>
				    </div>
					<div id="collapse_papers_2013" class="accordion-body collapse span8">
						-
					</div>
				    <div class="accordion-heading">
						  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse_papers_2012" onClick="toggleButtonIcon(this);"><i class="icon-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;
				        2012 - Publications
				      </button>
				    </div>
					<div id="collapse_papers_2012" class="accordion-body collapse span8">
						<ol reversed="reversed" start="11">
						                <li><u>A Dynamic Component Model for Cyber Physical Systems.</u> -- F. Fouquet, O. Barais, N. Plouzeau, J-M. J&eacute;z&eacute;quel, B. Morin and F. Fleurey. -- In <b>CBSE'12</b>: 15th International ACM SIGSOFT Symposium on Component Based Software Engineering. Bertinoro, Italy, June 2012.
						                </li>
						                <li><u>Dissemination of reconfiguration policies on mesh networks</u> -- Fouquet F., Daubert E., Plouzeau N., Barais O., Bourcier J., J&eacute;z&eacute;quel J.-M. -- In <b>DAIS'12</b>: 7th International Federated Conference on Distributed Computing Techniques, 2012, Stockholm
						                </li>
						                <li><u>An Eclipse Modelling Framework Alternative to Meet the Models@Runtime Requirements.</u> -- F. Fouquet, G. Nain, B. Morin, E. Daubert, O. Barais, N. Plouzeau and J-M. J&eacute;z&eacute;quel. -- In <b>MODELS'12</b> (Application Track): ACM/IEEE 15th International Conference on Model Driven Engineering Languages and Systems, Innsbruck, Austria, October 2012.
						                </li>
						                <li><u>A Process  for Continuous Validation of Self-Adapting Component Based Systems.</u> -- Viet-Hoa Nguyen, No&euml;l Plouzeau, Fran&ccedil;ois Fouquet and Olivier Barais. -- In <b>MODELS'12 (MRT workshop)</b>: ACM/IEEE 15th International Conference on Model Driven Engineering Languages and Systems, Innsbruck, Austria, October 2012.
						                </li>
						                <li><u>A models@runtime framework for designing and managing Service-Based Applications.</u> -- E. Daubert, F. Fouquet, O. Barais, G. Nain, G. Suny&eacute;, J-M. J&eacute;z&eacute;quel, J-L. Pazat and B. Morin. -- In <b>ICSE Workshop</b> on European Sofware Services and Systems Research - Research and Challenges (S-Cube). Zurich,Switzerland, May 2012.
						                </li>
						                <li><u>Kevoree : une approche model@runtime pour les syst&eagrave;mes ubiquitaires</u> -- Fran&ccedil;ois Fouquet, Erwan Daubert, No&euml;l Plouzeau, Johann Bourcier, Jean-&eacute;mile Dartois, Olivier Barais, Arnaud Blouin -- <b>UbiMob'12</b>, Anglet, France, 2012.
						                </li>
										<li><u>Toward a Model-driven Access-control Enforcement Mechanism for Pervasive Systems</u> -- Olivier-Nathana&euml;l Ben David, Benoit Baudry -- <b>MDSEC'12</b>, Innsbruck, Autriche</li>
										<li><u>Dependability-Driven Runtime Management of Service Oriented Architectures</u> -- Hanen Haouas, Johann Bourcier -- <b>PESOS'12</b>, Zurich, Switzerland</li>
						            </ol>
					</div>
				    <div class="accordion-heading">
						  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse_papers_2011" onClick="toggleButtonIcon(this);"><i class="icon-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;
				        2011 - Publications
				      </button>
				    </div>
					<div id="collapse_papers_2011" class="accordion-body collapse span8">
						<ol reversed="reversed" start="3">
							<li><u>EnTiMid: A flexible component model to integrate smart devices in service-based applications for Ambient Assisted Living</u> -- G. Nain -- <b>PhD Thesis</b> 2011, Rennes, France</li>
						</ol>						
					</div>
				    <div class="accordion-heading">
						  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse_papers_2010" onClick="toggleButtonIcon(this);"><i class="icon-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;
				        2010 - Publications
				      </button>
				    </div>
					<div id="collapse_papers_2010" class="accordion-body collapse span8">
						<ol reversed="reversed" start="2">
						                <li><u>Integrating IoT and IoS with a Component-Based approach.</u> -- G. Nain, F. Fouquet, B. Morin, O. Barais and J-M. J&eacute;z&eacute;quel. -- In <b>SEAA'10</b>: 36th Euromicro Conference on Software Engineering and Advanced Applications, Lille, France, September 2010.
						                </li>
						                <li><u>Building a Kermeta Compiler using Scala: an Experience Report.</u> -- F. Fouquet, O. Barais, J-M. J&eacute;z&eacute;quel -- In <b>Workshop Scala Days 2010</b>. Lauzanne, Switzerland 2010
						                </li>
						            </ol>
					</div>
				</div>
		</div>
		</div>
    </div>
</div>