<div class="hero-unit">
    <h1>Talks</h1>

    <p class="pull-right">Look our presentations!</p>
</div>
<div class="row">
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Our last talks</li>
                {menu}
            </ul>
        </div>
    </div>
    <div class="span9" style="background: #efefef; border-radius: 3px; box-shadow: 0px 0px 2px #ccc;height: 580px;">
        <div class="tutorial" >
            <h2 id="presentation"></h2>

            <div class="container-fluid" style="height: 80%;">
                {embedder}
            </div>
            <script language="JavaScript">
                {initSlides}
            </script>
        </div>
    </div>
</div>