body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        @media (min-width: 980px) {
            body {
                padding-top: 60px;
            }
        }

        .navbar {
            box-shadow: 0px 0px 3px #000;
            border-bottom: 1px solid #999;
        }

        .hero-unit {
            text-align: center;
            background-color: rgba(200, 200, 200, .5);
            box-shadow: 0px 0px 3px #bababa;
            border: 1px solid #EDEDED;
        }

        .hero-unit h1 {
            font-size: 84px;
            line-height: 1.2;
            text-shadow: -1px -1px 3px #fff;
        }

        .code-box {
            padding-top: 28px;
        }

        .code-box .syntaxhighlighter {
            box-shadow: 0px 0px 3px #000;
            border-radius: 3px;
        }

        @media (max-width: 480px) {
            .hero-unit {
                padding: 10px 10px 20px 20px;
            }

            .hero-unit h1 {
                font-size: 32px;
            }

            .hero-unit p {
                font-size: 12px;
            }
        }

        code {
                color: #777;
                }

                .code-box {
                padding-top: 28px;
                }

                .code-box .syntaxhighlighter {
                box-shadow: 0px 0px 3px #000;
                border-radius: 3px;
                }

                hr {
                border-color: #ccc;
                box-shadow: -1px 0 1px white;
                }
